<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>Login</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<link href="../css/login.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script> 
</head>
<body ng-app="Aplikacija" >
    <div class="login-form" ng-controller= "ListaKorisnika as lk">
        <form name="prijavaKorisnika" ng-submit="prijavaKorisnika.$valid && lk.dobaviKorisnike()">
            <h2 class="text-center">Shoes shop</h2>   
            <div class="form-group">
                <input type="text" class="form-control" name="korisnicko_ime" id="korisnicko_ime" ng-model="lk.prijavljenKorisnik.korisnickoIme" ng-required="true" placeholder="Username">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name="lozinka" id="lozinka" ng-model="lk.prijavljenKorisnik.lozinka" ng-required="true" placeholder="Password">
            </div>        
            <div class="form-group">
                <button type="submit" class="btn btn-primary btn-lg btn-block">Sign in</button>
            </div>
            
        </form>
        <p class="text-center small">Nemate nalog? <a href="/registracija">Registrujte se ovde!</a></p>
    </div>

    
    

    <script src="../js/angularjs/angular.min.js"></script>
    <script src="../app/app.js"></script>
    <script src="../app/prodavnica_patika/patike_prodavnica.js"></script>
</body>
</html>